<body class="d-flex flex-column h-100">
  <div class="container">
    <main role="main" class="my-auto">
    <h1 class="mt-5"><%= @city.name%> - <%= @city.zip_code%></h1>
    <p>Crée le <%= @city.created_at.strftime("%d/%m/%Y")%></p>
    Users : 
      <% @city.users.each do |i| %>
        <div class="album py-2">
            <div class="container">
            <%=link_to "#{i.first_name} #{i.last_name}", user_path(i.id), :class => "h4 mx-1"%>
              <div class="row pt-2">
                <%i.gossips.each do |j| %>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">              
                      <%=link_to "#{j.title}", gossip_path(j.id) %>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted"><%= j.user.first_name %> <%= j.user.last_name %></h6>
                      <p class="card-text"><%= j.content %></p>
                      <div class="row">
                        <div class="col">
                          <%=j.likes.count %> 
                          <%if logged_in? && liked?(j.id)%>
                          <%=link_to "👍", gossip_like_path(j), method: :delete%>
                          <%elsif logged_in? && !liked?(j.id)%>
                          <%=link_to "👍🏻", gossip_likes_path(j), method: :post%>
                          <%else%>
                          <%= link_to "👍🏻", new_session_path%>
                          <%end%>                        
                        </div> 
                        <div class="col text-right"><%=j.comments.count%> commentaires</div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div> 
      <% end %> 
    </main>
  </div>
</body>
